

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   "Roboto";
    font-size: 14px;
    color-primary: #ABA194;
}
.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
  }
  
  .menu ul li{
    list-style: none;
    margin: 0 30px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
}

.registration-btn{
    top: 20px;
    right:20px;
    position: absolute;
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff),radial-gradient(circle at top left, #19d7fa, #fd00da);
    background-origin: border-box;
    background-clip: content-box, border-box;
  
  }
  
  .registration-btn span{
    display: block;
    padding: 8px 22px;
}


body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 320% 130% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}
textarea{
  width: 100%;
  margin-top:360px;
  height: 420px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}
textarea:focus{
  outline: none;
}
#invisible{
  display: none;
}

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    color:black;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

    &:focus {
        background-color: darken(#fff, 3%);
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: roboto;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: black;
    background:$color-primary;
    transition: 0.3s;
  }

.btn:hover {
        background-color: 	#D2B48C;
    }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
